.error{
    color: red;
}



.nav_bar{
    height: 40px;
    background-color: blueviolet;
    margin-left: 160px; /* Same as the width of the sidebar */
}


.main_content {
    margin-left: 160px; /* Same as the width of the sidebar */
    margin-top: 40px;
    padding: 0px 10px;
  }