.nav_list{
    list-style-type: none;
}

.nav_item{
    float: left;
    padding: 10px;
}
.nav_item a{
    color:white;
    text-decoration: none;
}
.nav_item a:hover{
    color:red;
}
.nav_item a:active{
    font-weight: bold;
}

.logout{
    float: right;
    margin-right: 10px;
}